{% extends 'aplicacion/index.html' %}
{% load static %}

{% block titulo %}
    <style>
        .text-center {
            text-align: center;
        }
        .mt-4 {
            margin-top: 4rem !important;
        }
    </style>
    <h2 class="text-center mb-4">Agregar Películas</h2>
{% endblock titulo %}

{% block contenido %}
    <style>
        body {
            background-color: #222; /* Cambiar el color de fondo */
        }
    
        .messages {
            list-style: none;
            padding: 0;
        }

        .messages li {
            margin-top: 5px;
        }

        .messages .success {
            color: green;
        }

        .messages .error {
            color: red;
        }
        
        .card {
            background-color: rgba(255, 255, 255, 0.9); /* Cambiar el color de fondo del formulario */
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
        }

        .card-body {
            padding: 30px;
        }

        .boton {
            background-color: blue;
            border-color: blue;
            transition: background-color 0.3s, border-color 0.3s;
        }
        
        .boton:hover {
            background-color: #ee0979;
            border-color: #ee0979;
        }


        /* Agregar estilos para los campos del formulario */
        .mb-3 {
            margin-bottom: 1.5rem;
        }
        
        .form-label {
            font-weight: bold;
        }

        /* Alinear los campos del formulario */
        input[type="text"],
        select,
        textarea {
            width: 100%;
            padding: 0.375rem 0.75rem;
            font-size: 1rem;
            border: 1px solid #ced4da;
            border-radius: 0.25rem;
        }
    </style>

    <div class="container">
        <div class="row justify-content-center mt-5">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title text-center">Agregar una Película</h2>
                        <form action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            
                            <div class="mb-3">
                                <label for="{{ form.titulo.id_for_label }}" class="form-label">Título:</label>
                                {{ form.titulo }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.genero.id_for_label }}" class="form-label">Género:</label>
                                {{ form.genero }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.director.id_for_label }}" class="form-label">Director:</label>
                                {{ form.director }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.distribuidora.id_for_label }}" class="form-label">Distribuidora:</label>
                                {{ form.distribuidora }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.actores.id_for_label }}" class="form-label">Actores:</label>
                                {{ form.actores }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.sinopsis.id_for_label }}" class="form-label">Sinopsis:</label>
                                {{ form.sinopsis }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.duracion.id_for_label }}" class="form-label">Duración:</label>
                                {{ form.duracion }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.anio_estreno.id_for_label }}" class="form-label">Año de Estreno:</label>
                                {{ form.anio_estreno }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.poster.id_for_label }}" class="form-label">Póster:</label>
                                {{ form.poster }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.trailer_url.id_for_label }}" class="form-label">URL del Trailer:</label>
                                {{ form.trailer_url }}
                            </div>
                        
                            <div class="mb-3">
                                <label for="{{ form.calificacion.id_for_label }}" class="form-label">Calificación:</label>
                                {{ form.calificacion }}
                            </div>
                        
                            <button type="submit" class="btn btn-primary me-md-2 boton">Enviar</button>
                            {% if messages %}
                                <ul class="messages">
                                    {% for message in messages %}
                                        <li class="{{ message.tags }}">{% if message.tags == 'success' %}✔{% else %}✖{% endif %} {{ message }}</li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock contenido %}
