{% extends 'aplicacion/index.html' %}
{% load static %}

{% block titulo %}

{% endblock titulo %}

{% block contenido %}

<style>
    body {
        background-color: #222;
    }

    .top10_series-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 20px;
        margin-top: 80px;
    }

    .top10_series-item {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        max-width: 800px;
        border: 1px solid #ddd;
        padding: 20px;
        background-color: rgba(255, 255, 255, 0.9);
        border-radius: 10px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .top10_series-poster {
        margin-right: 20px;
    }

    .star-rating {
        color: yellow;
        font-size: 24px;
        margin-left: 10px;
    }

    .star-rating[data-rating="1"]:after {
        content: "★";
    }
    .star-rating[data-rating="2"]:after {
        content: "★★";
    }
    .star-rating[data-rating="3"]:after {
        content: "★★★";
    }
    .star-rating[data-rating="4"]:after {
        content: "★★★★";
    }
    .star-rating[data-rating="5"]:after {
        content: "★★★★★";
    }

    .btn-add {
        background-color: blue;
        border-color: blue;
        font-size: 20px;
        padding: 5px 10px;
        border-radius: 50%;
        text-align: center;
        line-height: 1;
        margin-right: 10px;
    }

    .lista-title {
        color: white;
    }

    .btn-agregar {
        background-color: blue;
        border-color: blue;
        font-weight: bold;
        margin-left: 10px; /* Ajusta el margen izquierdo */
    }
    .btn-primary {
        background-color: blue;
        border-color: blue;
        font-size: 14px; /* Cambiado el tamaño del botón Editar */
        padding: 5px 10px; /* Cambiado el padding del botón Editar */
        margin: 10px;
    }
    .btn-xl {
        padding: 20px 40px;
    }
    .text-uppercase {
        text-transform: uppercase;
    }
    /* Estilo para los botones de perfil y cerrar sesión */
    .navbar .navbar-nav .btn {
        font-size: 15px;
        padding: 5px 10px;
    }
</style>

<div class="top10_series-list">
    <div class="d-flex align-items-center">
        <h1 class="text-center mb-4 lista-title">Lista de Top 10 Series</h1>
        <tr>
            <td>
                <a
                href="{% url 'create_top10_series' %}"
                class="btn btn-primary btn-sm"
                ><i class="fa fa-plus fa-lg" title="Agregar Serie al Top 10"> </i>
                </a>
            </td>
        </tr>
    </div>
    <div class="top10_series-items">
        {% for top10_serie in top10_series %}
        <div class="top10_series-item">
            <div class="top10_series-poster">
                <img src="{{ top10_serie.poster.url }}" alt="{{ top10_serie.titulo }}" width="200">
            </div>
            <div class="top10_series-info">
                <h3>{{ top10_serie.titulo }}</h3>
                <p><strong>Puesto:</strong> {{ top10_serie.puesto }}</p>
                <p><strong>Género:</strong> {{ top10_serie.genero }}</p>
                <p><strong>Temporadas:</strong> {{ top10_serie.temporadas }}</p>
                <p><strong>Capitulos:</strong> {{ top10_serie.capitulos }}</p>
                <p><strong>Presupuesto:</strong> {{ top10_serie.presupuesto }}</p>
                <p><strong>Año de Estreno:</strong> {{ top10_serie.anio_estreno }}</p>
                <p><a href="{{ top10_serie.trailer_url }}">Ver Trailer</a></p>
                <a href="{% url 'update_top10_series' top10_serie.id %}" class="btn btn-primary btn-sm"><i class="fa fa-edit fa-lg"></i></a>
                <a href="{% url 'delete_top10_series' top10_serie.id %}" class="btn btn-danger btn-sm"><i class="fa fa-trash fa-lg"></i></a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock contenido %}
